.common-input {
  font-size: 14px; 
  border-radius: 5px; 
  padding: 10px; 
}

.input1 {
  composes: common-input; 
  border: 2px solid blue; 
}

.input2 {
  composes: common-input; 
  border: 2px solid green; 
}

.input3 {
  composes: common-input; 
  border: 2px solid red; 
}